<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Admin View</title>
     <style>
        .card {
            padding: 20px;
            margin: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .card a {
            text-decoration: none;
            color: white;
        }
        .card:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in-out;
        }
    </style>
</head>
<body class="min-vh-100 d-flex flex-column">
    <div class="jumbotron text-center">
        <h2>Admin Dashboard</h2>
    </div>
    <br>

    <div class="d-flex flex-row justify-content-center"> 
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white" href="/admin/Bus">Buses</a> <br>
        </div>
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white padding-5" href="/admin/Driver">Drivers</a> <br>
        </div>
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white padding-5" href="/admin/Conductor">Conductors</a> <br>
        </div>
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white padding-5"  href="/admin/Route">Routes</a> <br>
        </div>
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white padding-5"  href="/admin/Ratings">Ratings</a> <br>
        </div>
        <div class="container padding-5 text-center">
            <a class="card bg-info text-white padding-5"  href="/admin/Users">Users</a> <br>
        </div>
    </div>
    <footer class="bg-light text-center py-3 mt-auto">
        <a href="/" class="mx-2 text-decoration-none">Home</a>
    </footer>
</body>
</html>