<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Rating</title>
</head>
<body>
    <h1> RATE US!</h1>
    <form>
        <ul>
            <li><label>Driver's Rating</label></li>
            <input type="text">
            <li><label>Conductor's Rating</label></li>
            <input type="text">
            <li><button class = "btn btn-primary mt-3">Submit</button></li>
        </ul>
    </form>
    </div>
</body>
</html>