<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text"/>
        <button type="submit">register</button>
    </form>
    <audio id="button-sound" src="/button_click.mp3" preload="auto"></audio>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttonSound = document.getElementById('button-sound');
            const buttons = document.querySelectorAll('button');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    buttonSound.currentTime = 0; // Reset the sound to the beginning
                    buttonSound.play(); // Play the sound
                });
            });
        });
    </script>
</body>
</html>